# Enironment variables for local development
CONVEX_DEPLOYMENT=dev:your-deployment-name # team: ..., project: ...
NPM_TOKEN=your-npm-token

# CONVEX ENVIRONMENT SECRETS
# ================================
# Clerk config
CLERK_FRONTEND_API_URL=https://your-clerk-frontend-api-url.com
CLERK_WEBHOOK_SECRET=your-clerk-webhook-secret
CLERK_SECRET_KEY=your-secret-key

# NEXT.JS PUBLIC ENVIRONMENT VARIABLES
# ================================
# Convex config
NEXT_PUBLIC_CONVEX_URL=https://your-convex-project.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://your-convex-project.convex.site
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-publishable-key

# PostHog analytics
NEXT_PUBLIC_POSTHOG_KEY=your-posthog-project-api-key
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com